<div class="container">
    <div class="card">

        <div class="row choose-currency split">
            Selected Currency
            <select name="currency"
                    id="currency"
                    (change)="selectCurrency($event.target.value)"
                    [(ngModel)]="currencySymbol">

                <option *ngFor="let symbol of availableSymbols"
                        value="{{ symbol }}">
                    {{ symbol }}
                </option>

            </select>
        </div>

        <div class="row amount-from">
            <span class="amount-text">Amount From</span>
            <span class="currency-indicator">
        {{ currencyFrom.pointsTo }}
      </span>
            <input type="number"
                   (input)="setAmountFrom($event.target.value)"
                   [(ngModel)]="currencyFrom.value">
        </div>

        <div class="row amount-to ">
            <span class="amount-text">Amount To </span>
            <span class="currency-indicator">
        {{ currencyTo.pointsTo }}
      </span>

            <input *ngIf="loadStatus === LoadStatusEnum.LOADED"
                   disabled
                   [value]="currencyTo.value">

            <input *ngIf="loadStatus === LoadStatusEnum.LOADING"
                   disabled
                   class="loading"
                   value="LOADING">

            <input *ngIf="loadStatus === LoadStatusEnum.INITIAL"
                   disabled
                   class="init"
                   value="0">

            <input *ngIf="loadStatus === LoadStatusEnum.ERROR"
                   disabled
                   class="error"
                   value="ERROR">
        </div>

        <div class="row swap">
            <button (click)="swapToFrom()">swap</button>
        </div>
    </div>
</div>
