.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    color: #eeeeee;
    font-family: Menlo, monospace;
}

.card {
    margin-top: 5vh;
    width: 350px;
    height: 310px;
    display: flex;
    flex-direction: column;
    padding: 25px;

    background-color: #393337;
    border: 1px solid #776c75;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 #0000008c;
}

.row {
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.row > input {
    width: 100px;
    padding: 2px;
    border: 1px solid #776c75;
    border-radius: 3px;
    background-color: #393337;
    color: white;
    outline: none;
    font-size: 1rem;
    font-family: Menlo, monospace;
}

.row > .amount-text {
    width: 120px
}

.row.swap {
    width: 100%;
}

.row > button {
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #776c75;
    background-color: #393337;
    color: white;
    width: inherit;
}

.row > button:hover {
    cursor: pointer;
}

.row.calculate > button {
    height: 30px;
}

.split {
    padding-bottom: 30px;
    border-bottom: 1px solid #776c75;
}

.choose-currency {
    justify-content: space-between;
}

.currency-indicator {
    border: 1px solid pink;
    border-radius: 3px;
    padding: 2px;
}
